<div class="bloc-bandeau">
	<div class="widget-liste-{{ typeEntite }} bandeau fond-vert row">		
		<h3 class="titre-icone">{{ titreEntite }}</h3>
		{% if activeParticipe is defined %}
		<a href="{#{ path() }#}" class="lien-propos propos-right">{{ activeParticipe }}</a>
		{% endif %}
	</div>
	<div class="hot row">
	{% if recents is empty %}
		<p class="warning">{{ messageEmpty }}</p>
	{% else %}
		{% block corpsPublicationsRecentes %}{% endblock %}
		{% if lienSommaire is defined %}
		<div class="lienSommaire">
			<a href="{#{ path(classeEntite.'_sommaire') }#}">{{ lienSommaire }}</a>
		</div>
		{% endif %}
	{% endif %}
	</div>
</div>
