<nav id="rubriquesNavigation" class="navbar navbar-default" >
	<div class="container-fluid">
          <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
	</div>
	<div class="navbar-collapse collapse" id="navbar">
	<ul class="nav navbar-nav menuRubriques">
	{% for rubriquePrincipale in princeps %}
	{% set menu = rubriquePrincipale.slug %}
	{% set titre = rubriquePrincipale.titre %}
		<li class="itemRubrique {{ menu }}" data-rubrique="{{ menu }}">
			<span class="mainMenuLabel"><a href="{{path('Core_sommaire_standard', {'slug': menu}) }}">{{ titre }}</a></span>
			<ul class="subMenu menu-masque">
			{% for subMenu in navigation[menu] %}
				<li class="itemSousRubrique">
					<a href="{{path('Core_sommaire_standard', {'slug': subMenu.slug})}}">{{ subMenu.titre}}</a>
				</li>
			{% endfor %}
			</ul>
		</li>
	{% endfor %}
	</ul>
	</div><!--/.nav-collapse -->
</div><!--/.container-fluid -->
	
</nav>
<script type="text/javascript">

	$(document).ready(function () {
		$('li.itemRubrique').on('mouseenter', function (event) {
			$(this).closest('.menuRubriques').find('.menu-visible').each(function () {
				$(this).toggleClass('menu-visible menu-masque');
				// var rubrique = menu.data('rubrique');
				// menu.toggleClass('menu-'+rubrique+"-selected");
			});
			// var menu = $(this).closest('.main-menu');
			// var rubrique = menu.data('rubrique');
			// menu.toggleClass('menu-'+rubrique+"-selected");
			$(this).closest('.itemRubrique').find('.subMenu').toggleClass('menu-visible menu-masque')
		});
		$('li.itemRubrique').on('mouseleave', function () {
			$(this).find('.subMenu').each(function () { 
				$(this).toggleClass('menu-visible menu-masque')
				// var menu = $(this).closest('.main-menu');
				// var rubrique = menu.data('rubrique');
				// menu.toggleClass('menu-'+rubrique+"-selected");
			});
		});
	});
</script>

